@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.displayPage {
  display: flex;
  @include setFlex();
}

.repositoriesListWrapper {
  flex: 2;
  @include setFlex();
}

.favoriteRepositoryWrapper {
  flex: 1;
  @include setFlex();
}


