@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.displayPage {
  display: flex;
  @include setFlex();
}

.repositoriesListWrapper {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.favoriteRepositoryWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.favoriteRepositoryTitle {
  color: $white;
  font-size: 64px;
  padding: 16px;
  margin: 16px;
  -webkit-text-stroke: 2px $black;
}


