@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.displayPage {
  display: flex;
  @include setFlex();
}

.repositoriesListWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}W

.favoriteRepositoryWrapper {
  flex: 1;
  @include setFlex();
}


