@use '../../stylesheets/variables' as *;
@use '../../stylesheets/buttons' as *;
@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/card' as *;

.showHintsContent {
  margin: 8px;
  background-color: $white;

  &_name {
    text-transform: uppercase;
    padding: 4px;
    border-radius: 25px;


    &:hover {
      opacity: 0.7;
    }
  }
}