@use '../../stylesheets/variables' as *;
@use '../../stylesheets/buttons' as *;
@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/card' as *;

.favoriteRepositoryContent {
  @extend %cardContent;

  &_name {
    display:inline-block;
    text-transform: uppercase;
    text-overflow: ellipsis;

    &:hover {
      opacity: 0.7;
    }
  }

  &_btn {
    @extend %repositoryBtn;

    &:hover {
      @include setButtonHover($red);
    }
  }
}