@mixin setButtonHover($background-color, $opacity: 0.7) {
  background-color: $background-color;
  opacity: $opacity;
}

@mixin setFlex($flex-flow: row wrap, $flex: 200px, $align-items: center, $justify-content: space-around) {
  flex-flow: $flex-flow;
  flex: $flex;
  align-items: $align-items;
  justify-content: $justify-content;
}