@use './variables' as *;

%cardContent {
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 48px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding: 8px;
  border-radius: 4px;
}